@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Dongle&family=Orbitron:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body .wrapper {
    display: flex;
}

.header {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #ccc;
    /* box-shadow: 0 3px 15px rgba(100, 100, 100, .7); */
    /* margin-bottom: 15px; */
    padding: 10px;
    font-family: 'Dongle', sans-serif;
    align-items: center;
    letter-spacing: 1px;
    top: 0;
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    position: fixed;
}

.header .search {
    display: flex;
    width: 50%;
    padding: 0px 20px;
    border-radius: 50px;
    border: 1px solid #ccc;
    font-size: 26px;
    align-items: center;
    gap: 20px;
}

.header input {
    border: none;
    padding: 10px 0px;
}

.header .user {
    display: flex;
    gap: 10px;
    align-items: center;
    color: lightcoral;
    font-size: 20px;
}

.wrapper2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    /* height: 100dvh; */
    margin-top: 70px;
    overflow: hidden;
    /* position: fixed; */
    /* align-items: center; */

}

.remainder {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    /* position:static; */
    flex-direction: column;
    margin: 0 10px;
    height: 100%;
    overflow: hidden;
}

.event-details {
    box-shadow: 0 3px 15px rgba(100, 100, 100, .7);
    padding: 20px;
    padding-left: 30px;
    margin: 40px auto;
    width: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: blueviolet;
    color: #fff;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.event-details h1 {
    font-size: 40px;
    font-weight: bolder;
    color: yellow;
    padding-bottom: px;
    font-family: 'Alkatra', cursive;
}

.event-details img {
    width: 100%;
    border-radius: 60% 60% 30% 30%;
    box-shadow: 0 0 100px 5px #ccc;
}

#e1 {
    background: coral;
    display: none;
}

#e2 {
    background: seagreen;
    display: none;
}

#e3 {
    background: #5465f7;
    display: none;
}

#e4 {
    background: rebeccapurple;
    display: none;
}

.timer {
    box-shadow: 0 5px 15px rgba(42, 42, 42, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 30px auto 10px auto;
    border-radius: 5px;
    background-color: #000;
    padding: 5px 10px;
    
}

/* .counter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, .7);
    padding: 20px;
    margin: 40px auto;
    width: 80%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter .box {
    font-size: 20px;
    font-weight: bold;
} */

.events {
    background-color: #eeeeee71;
    padding: 10px;
    width: 800px;
    /* height:100vh; */
    /* overflow-y: auto; */
}

.events .head {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin-bottom: 20px;
    font-family: 'Dongle', sans-serif;
    font-size: 26px;
    letter-spacing: 1px;
}

.events .head span {
    color: #5465f7;
}

.all-card {
    display: flex;
    flex-direction: column;
    gap: 25px;
    
    padding: 0 20px;
    justify-content: center;
}

.all-card .card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 15px rgba(69, 69, 69, 0.7);
    border-radius: 5px;
    padding: 20px;
    font-family: 'Dongle', sans-serif;
    font-size: 26px;
}

.card a {
    margin: 10px auto;
    width: 50%;
    margin-bottom: 0;
}
.card button {
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 3px 15px #605f5f;
    background-color: rgb(180, 115, 241);
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 0 3px 10px #605f5f;
    font-size: 16px;
}

.card h4 {
    color: #1832a3;
}

#c1, #c3 {
    background:  linear-gradient(to top, #f5ae70, #facccc);
}

#c2, #c4 {
    background: linear-gradient(to top, #65e899c0, #dfffbe);
}